# SQL-EX with Postgres

## Импорты и подготовки

In [1]:
# Install postgresql server
!sudo apt-get -y -qq update
!sudo apt-get -y -qq install postgresql
!sudo service postgresql start

# Setup a password `postgres` for username `postgres`
!sudo -u postgres psql -U postgres -c "ALTER USER postgres PASSWORD 'postgres';"

debconf: unable to initialize frontend: Dialog
debconf: (No usable dialog-like program is installed, so the dialog based frontend cannot be used. at /usr/share/perl5/Debconf/FrontEnd/Dialog.pm line 76, <> line 10.)
debconf: falling back to frontend: Readline
debconf: unable to initialize frontend: Readline
debconf: (This frontend requires a controlling tty.)
debconf: falling back to frontend: Teletype
dpkg-preconfigure: unable to re-open stdin:
Selecting previously unselected package cron.
(Reading database ... 155229 files and directories currently installed.)
Preparing to unpack .../0-cron_3.0pl1-128.1ubuntu1_amd64.deb ...
Unpacking cron (3.0pl1-128.1ubuntu1) ...
Selecting previously unselected package logrotate.
Preparing to unpack .../1-logrotate_3.11.0-0.1ubuntu1_amd64.deb ...
Unpacking logrotate (3.11.0-0.1ubuntu1) ...
Selecting previously unselected package netbase.
Preparing to unpack .../2-netbase_5.4_all.deb ...
Unpacking netbase (5.4) ...
Selecting previously unselected package postgresql-client-common.
Preparing to unpack .../3-postgresql-client-common_190ubuntu0.1_all.deb ...
Unpacking postgresql-client-common (190ubuntu0.1) ...
Selecting previously unselected package postgresql-client-10.
Preparing to unpack .../4-postgresql-client-10_10.19-0ubuntu0.18.04.1_amd64.deb ...
Unpacking postgresql-client-10 (10.19-0ubuntu0.18.04.1) ...
Selecting previously unselected package ssl-cert.
Preparing to unpack .../5-ssl-cert_1.0.39_all.deb ...
Unpacking ssl-cert (1.0.39) ...
Selecting previously unselected package postgresql-common.
Preparing to unpack .../6-postgresql-common_190ubuntu0.1_all.deb ...
Adding 'diversion of /usr/bin/pg_config to /usr/bin/pg_config.libpq-dev by postgresql-common'
Unpacking postgresql-common (190ubuntu0.1) ...
Selecting previously unselected package postgresql-10.
Preparing to unpack .../7-postgresql-10_10.19-0ubuntu0.18.04.1_amd64.deb ...
Unpacking postgresql-10 (10.19-0ubuntu0.18.04.1) ...
Selecting previously unselected package postgresql.
Preparing to unpack .../8-postgresql_10+190ubuntu0.1_all.deb ...
Unpacking postgresql (10+190ubuntu0.1) ...
Selecting previously unselected package sysstat.
Preparing to unpack .../9-sysstat_11.6.1-1ubuntu0.1_amd64.deb ...
Unpacking sysstat (11.6.1-1ubuntu0.1) ...
Setting up sysstat (11.6.1-1ubuntu0.1) ...
debconf: unable to initialize frontend: Dialog
debconf: (No usable dialog-like program is installed, so the dialog based frontend cannot be used. at /usr/share/perl5/Debconf/FrontEnd/Dialog.pm line 76.)
debconf: falling back to frontend: Readline

Creating config file /etc/default/sysstat with new version
update-alternatives: using /usr/bin/sar.sysstat to provide /usr/bin/sar (sar) in auto mode
Created symlink /etc/systemd/system/multi-user.target.wants/sysstat.service → /lib/systemd/system/sysstat.service.
Setting up ssl-cert (1.0.39) ...
debconf: unable to initialize frontend: Dialog
debconf: (No usable dialog-like program is installed, so the dialog based frontend cannot be used. at /usr/share/perl5/Debconf/FrontEnd/Dialog.pm line 76.)
debconf: falling back to frontend: Readline
Setting up cron (3.0pl1-128.1ubuntu1) ...
Adding group `crontab' (GID 110) ...
Done.
Created symlink /etc/systemd/system/multi-user.target.wants/cron.service → /lib/systemd/system/cron.service.
update-rc.d: warning: start and stop actions are no longer supported; falling back to defaults
invoke-rc.d: could not determine current runlevel
invoke-rc.d: policy-rc.d denied execution of start.
Setting up logrotate (3.11.0-0.1ubuntu1) ...
Setting up netbase (5.4) ...
Setting up postgresql-client-common (190ubuntu0.1) ...
Setting up postgresql-common (190ubuntu0.1) ...
debconf: unable to initialize frontend: Dialog
debconf: (No usable dialog-like program is installed, so the dialog based frontend cannot be used. at /usr/share/perl5/Debconf/FrontEnd/Dialog.pm line 76.)
debconf: falling back to frontend: Readline
Adding user postgres to group ssl-cert

Creating config file /etc/postgresql-common/createcluster.conf with new version
Building PostgreSQL dictionaries from installed myspell/hunspell packages...
Removing obsolete dictionary files:
Created symlink /etc/systemd/system/multi-user.target.wants/postgresql.service → /lib/systemd/system/postgresql.service.
invoke-rc.d: could not determine current runlevel
invoke-rc.d: policy-rc.d denied execution of start.
Setting up postgresql-client-10 (10.19-0ubuntu0.18.04.1) ...
update-alternatives: using /usr/share/postgresql/10/man/man1/psql.1.gz to provide /usr/share/man/man1/psql.1.gz (psql.1.gz) in auto mode
Setting up postgresql-10 (10.19-0ubuntu0.18.04.1) ...
debconf: unable to initialize frontend: Dialog
debconf: (No usable dialog-like program is installed, so the dialog based frontend cannot be used. at /usr/share/perl5/Debconf/FrontEnd/Dialog.pm line 76.)
debconf: falling back to frontend: Readline
Creating new PostgreSQL cluster 10/main ...
/usr/lib/postgresql/10/bin/initdb -D /var/lib/postgresql/10/main --auth-local peer --auth-host md5
The files belonging to this database system will be owned by user "postgres".
This user must also own the server process.

The database cluster will be initialized with locale "en_US.UTF-8".
The default database encoding has accordingly been set to "UTF8".
The default text search configuration will be set to "english".

Data page checksums are disabled.

fixing permissions on existing directory /var/lib/postgresql/10/main ... ok
creating subdirectories ... ok
selecting default max_connections ... 100
selecting default shared_buffers ... 128MB
selecting default timezone ... Etc/UTC
selecting dynamic shared memory implementation ... posix
creating configuration files ... ok
running bootstrap script ... ok
performing post-bootstrap initialization ... ok
syncing data to disk ... ok

Success. You can now start the database server using:

    /usr/lib/postgresql/10/bin/pg_ctl -D /var/lib/postgresql/10/main -l logfile start

Ver Cluster Port Status Owner    Data directory              Log file
10  main    5432 down   postgres /var/lib/postgresql/10/main /var/log/postgresql/postgresql-10-main.log
update-alternatives: using /usr/share/postgresql/10/man/man1/postmaster.1.gz to provide /usr/share/man/man1/postmaster.1.gz (postmaster.1.gz) in auto mode
invoke-rc.d: could not determine current runlevel
invoke-rc.d: policy-rc.d denied execution of start.
Setting up postgresql (10+190ubuntu0.1) ...
Processing triggers for man-db (2.8.3-2ubuntu0.1) ...
Processing triggers for systemd (237-3ubuntu10.53) ...
 * Starting PostgreSQL 10 database server
   ...done.
ALTER ROLE

In [2]:
from sqlalchemy import create_engine
con = create_engine('postgresql+psycopg2://postgres:postgres@localhost:5432/postgres')

/usr/local/lib/python3.7/dist-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

Сохранение БД с sql-ex

In [3]:
!wget https://sql-ex.ru/download/sql-ex-pg.sql

--2022-01-17 08:28:44--  https://sql-ex.ru/download/sql-ex-pg.sql
Resolving sql-ex.ru (sql-ex.ru)... 136.243.105.254, 2a01:4f8:171:ed3:ce0:a1ff:fee0:bb42
Connecting to sql-ex.ru (sql-ex.ru)|136.243.105.254|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 41053 (40K) [application/x-sql]
Saving to: ‘sql-ex-pg.sql’

sql-ex-pg.sql       100%[===================>]  40.09K  --.-KB/s    in 0s

2022-01-17 08:28:45 (118 MB/s) - ‘sql-ex-pg.sql’ saved [41053/41053]

In [4]:
with open('/content/sql-ex-pg.sql', 'r') as file:
    sql = file.read()

Запускаем скрипт

In [5]:
con.execute(sql[1:])

Функция для запуска селекта

In [6]:
import pandas as pd

In [7]:
def select(sql):
  return pd.read_sql(sql, con)

## Задачи 31-40

### Задача 31

Для классов кораблей, калибр орудий которых не менее 16 дюймов, укажите класс и страну.

In [8]:
sql = '''
select c.class, c.country
from classes c 
where c.bore >= 16
'''
select (sql)

            class country
0            Iowa     USA
1  North Carolina     USA
2          Yamato   Japan

### Задача 32

Одной из характеристик корабля является половина куба калибра его главных орудий (mw). С точностью до 2 десятичных знаков определите среднее значение mw для кораблей каждой страны, у которой есть корабли в базе данных.

In [9]:
sql = '''
select * from classes c
'''
select (sql)

            class type     country  numguns  bore  displacement
0        Bismarck   bb     Germany        8  15.0         42000
1            Iowa   bb         USA        9  16.0         46000
2           Kongo   bc       Japan        8  14.0         32000
3  North Carolina   bb         USA       12  16.0         37000
4          Renown   bc  Gt.Britain        6  15.0         32000
5         Revenge   bb  Gt.Britain        8  15.0         29000
6       Tennessee   bb         USA       12  14.0         32000
7          Yamato   bb       Japan        9  18.0         65000

In [10]:
sql = '''
with country_ships as (
  select s.name, c.class, c.country, c.bore
  from ships s
  left join classes c on c.class = s.class

  union

  select c.class as name, c.class, c.country, c.bore
  from classes c
)

select cs.country, cast (avg (power (cs.bore, 3) ) / 2 AS NUMERIC(6,2) ) as mw
from country_ships cs
group by cs.country
order by mw asc
'''
select (sql)

      country       mw
0     Germany  1687.50
1  Gt.Britain  1687.50
2       Japan  1886.67
3         USA  1897.78

Оказывается, надо использовать таблицу outcomes

In [11]:
sql = '''
with out_ships as (
select s.name, c.country, c.bore
from ships s 
left join classes c on c.class = s.class

union

select o.ship, c.country, c.bore
from outcomes o 
join classes c on c.class = o.ship
)

select os.country, cast (avg (power (os.bore, 3) ) / 2 AS NUMERIC(6,2) ) as mw
from out_ships os
group by os.country
order by mw asc

'''
select (sql)

      country       mw
0     Germany  1687.50
1  Gt.Britain  1687.50
2       Japan  1886.67
3         USA  1897.78

### Задача 33

Укажите корабли, потопленные в сражениях в Северной Атлантике (North Atlantic). Вывод: ship.

In [12]:
sql = '''
select o.ship as ship 
from outcomes o
where o.battle = 'North Atlantic' and o.result = 'sunk'
'''
select (sql)

       ship
0  Bismarck
1      Hood

### Задача 34

По Вашингтонскому международному договору от начала 1922 г. запрещалось строить линейные корабли водоизмещением более 35 тыс.тонн. Укажите корабли, нарушившие этот договор (учитывать только корабли c известным годом спуска на воду). Вывести названия кораблей.

In [13]:
sql = '''
select s.name
from ships s
join classes c on s.class = c.class
where c.displacement > 35000 and s.launched >= 1922 and c.type = 'bb'
'''
select (sql)

             name
0            Iowa
1        Missouri
2         Musashi
3      New Jersey
4  North Carolina
5      Washington
6       Wisconsin
7          Yamato
8    South Dakota

### Задача 35

В таблице Product найти модели, которые состоят только из цифр или только из латинских букв (A-Z, без учета регистра).
Вывод: номер модели, тип модели.

In [14]:
sql = '''
select 
p.model, p.type
from product p
WHERE p.model NOT LIKE '%[^0-9]%' or p.model NOT LIKE '%[^A-Z]%'
'''
select(sql)

   model     type
0   1121       PC
1   1232       PC
2   1233       PC
3   1260       PC
4   1276  Printer
5   1288  Printer
6   1298   Laptop
7   1321   Laptop
8   1401  Printer
9   1408  Printer
10  1433  Printer
11  1434  Printer
12  1750   Laptop
13  1752   Laptop
14  2113       PC
15  2112       PC

### Задача 36

Перечислите названия головных кораблей, имеющихся в базе данных (учесть корабли в Outcomes).

In [15]:
sql = '''
with names as (
  select s.name from ships s
  union 
  select o.ship as name from outcomes o
)

select n.name as class
from names n 
join classes c on c.class = n.name
'''
select (sql)

            class
0          Yamato
1        Bismarck
2         Revenge
3  North Carolina
4       Tennessee
5           Kongo
6          Renown
7            Iowa

### Задача 37

Найдите классы, в которые входит только один корабль из базы данных (учесть также корабли в Outcomes).

In [16]:
sql = ''' 
with all_ships as (
  select s.name, s.class
  from ships s 
  join classes c on c.class = s.class

  union 
  select o.ship as name, c.class
  from outcomes o 
  join classes c on o.ship = c.class
)

select all_ships.class as class
from all_ships
group by all_ships.class
having count (all_ships.class) = 1 
'''
select (sql)

      class
0  Bismarck

### Задача 38

Найдите страны, имевшие когда-либо классы обычных боевых кораблей ('bb') и имевшие когда-либо классы крейсеров ('bc')

In [17]:
sql = '''
select  c.country 
from classes c
where c.type = 'bc'
INTERSECT
select c.country 
from classes c 
where c.type = 'bb'
'''
select (sql)

      country
0       Japan
1  Gt.Britain

### Задача 39

Найдите корабли, сохранившиеся для будущих сражений; т.е. выведенные из строя в одной битве (damaged), они участвовали в другой, произошедшей позже.

In [18]:
sql = '''
with battles_info as (
  select o.*, b.date 
  from outcomes o
  left join battles b on o.battle = b.name
  order by o.ship, b.date
)

select distinct bi.ship 
from battles_info bi
where bi.result = 'damaged' and 
exists (
  select bi1.ship 
  from battles_info bi1
  where bi1.ship = bi.ship and bi1.date > bi.date and bi1.battle <> bi.battle
  )
'''
select (sql)

         ship
0  California

### Задача 40

Найти производителей, которые выпускают более одной модели, при этом все выпускаемые производителем модели являются продуктами одного типа.
Вывести: maker, type

In [19]:
sql = '''
with makers as (
  select p.maker
  from product p
  group by p.maker
  having (count(p.model) > 1) and (count (distinct p.type) = 1)
)
select distinct m.maker, p.type
from makers m 
join product p on p.maker = m.maker
'''
select(sql)

  maker     type
0     D  Printer

## Задачи 41 -50

### Задача 41

Для каждого производителя, у которого присутствуют модели хотя бы в одной из таблиц PC, Laptop или Printer,
определить максимальную цену на его продукцию.
Вывод: имя производителя, если среди цен на продукцию данного производителя присутствует NULL, то выводить для этого производителя NULL,
иначе максимальную цену.

In [20]:
sql = '''
with all_models as (
  select pc.model, pc.price
  from pc
  union 
  select l.model, l.price
  from laptop l 
  union 
  select pr.model, pr.price
  from printer pr
), 

makers_and_price as (
  select am.*, p.maker
  from all_models am
  left join product p on p.model = am.model
)

select 
distinct map.maker,
max(map.price) as price
from makers_and_price map
group by map.maker
order by map.maker
''' 
select (sql)

  maker   price
0     A  1150.0
1     B  1200.0
2     C   970.0
3     D   400.0
4     E   350.0

Добавляем условие case для null

In [21]:
sql = '''
with all_models as (
  select pc.model, pc.price
  from pc
  union 
  select l.model, l.price
  from laptop l 
  union 
  select pr.model, pr.price
  from printer pr
), 

makers_and_price as (
  select am.*, p.maker
  from all_models am
  left join product p on p.model = am.model
)

select 
distinct map.maker,
case when max(case when map.price is null then 1 else 0 end) = 0 then max(map.price) else NULL end price
from makers_and_price map
group by map.maker
order by map.maker
''' 
select (sql)

  maker   price
0     A  1150.0
1     B  1200.0
2     C   970.0
3     D   400.0
4     E   350.0

### Задача 42

Найдите названия кораблей, потопленных в сражениях, и название сражения, в котором они были потоплены.

In [22]:
sql = '''
select o.ship, o.battle
from outcomes o 
where o.result = 'sunk'
'''
select(sql)

         ship          battle
0    Bismarck  North Atlantic
1        Fuso  Surigao Strait
2        Hood  North Atlantic
3   Kirishima     Guadalcanal
4  Schamhorst      North Cape
5   Yamashiro  Surigao Strait

### Задача 43

Укажите сражения, которые произошли в годы, не совпадающие ни с одним из годов спуска кораблей на воду.

In [23]:
sql = '''
select b.*, s.*
from battles b, ships s
'''
select(sql)

            name       date          name           class  launched
0    Guadalcanal 1942-11-15    California       Tennessee      1921
1    Guadalcanal 1942-11-15        Haruna           Kongo      1916
2    Guadalcanal 1942-11-15          Hiei           Kongo      1914
3    Guadalcanal 1942-11-15          Iowa            Iowa      1943
4    Guadalcanal 1942-11-15     Kirishima           Kongo      1915
..           ...        ...           ...             ...       ...
127     #Cuba62b 1962-10-25     Tennessee       Tennessee      1920
128     #Cuba62b 1962-10-25    Washington  North Carolina      1941
129     #Cuba62b 1962-10-25     Wisconsin            Iowa      1944
130     #Cuba62b 1962-10-25        Yamato          Yamato      1941
131     #Cuba62b 1962-10-25  South Dakota  North Carolina      1941

[132 rows x 5 columns]

In [24]:
sql = '''
select b.name
from battles b
where extract (year from b.date) not in (
  select s.launched from ships s where s.launched is not null)
'''
select (sql)

       name
0  #Cuba62a
1  #Cuba62b

### Задача 44

Найдите названия всех кораблей в базе данных, начинающихся с буквы R.

In [25]:
sql = '''
select distinct s.name
from ships s
where s.name like 'R%'
union 
select distinct o.ship
from outcomes o 
where o.ship like 'R%'
'''
select(sql)

              name
0           Rodney
1           Renown
2        Royal Oak
3       Resolution
4        Ramillies
5          Repulse
6  Royal Sovereign
7          Revenge

### Задача 45

Найдите названия всех кораблей в базе данных, состоящие из трех и более слов (например, King George V).
Считать, что слова в названиях разделяются единичными пробелами, и нет концевых пробелов.

In [26]:
sql = '''
select distinct s.name
from ships s
where s.name like '% % %'
union 
select distinct o.ship
from outcomes o 
where o.ship like '% % %'
'''
select(sql)

              name
0  Prince of Wales
1    King George V
2     Duke of York

### Задача 46

Для каждого корабля, участвовавшего в сражении при Гвадалканале (Guadalcanal), вывести название, водоизмещение и число орудий.

In [27]:
sql = ''' 
select o.ship, c.displacement, c.numGuns
from outcomes o,  ships s, classes c
where o.battle = 'Guadalcanal' and 
    o.ship = s.name and c.class = s.class

union

select o.ship, c.displacement, c.numGuns
from outcomes o
left join classes c on c.class = o.ship
where o.battle = 'Guadalcanal' and
    o.ship not in (select name from ships)
'''
select (sql)

           ship  displacement  numguns
0  South Dakota         37000       12
1     Kirishima         32000        8
2    California         32000       12
3    Washington         37000       12

### Задача 47

Определить страны, которые потеряли в сражениях все свои корабли.

In [28]:
sql = '''
--соединение в одну БД всех кораблей
with all_ships as (
  select s.name, c.country
  from ships s, classes c
  where s.class = c.class

  union

  select o.ship as name, c.country
  from outcomes o
  left join classes c on o.ship = c.class
),

--определение кораблей с известной страной
country_ship as (
  select alls.*
  from all_ships alls
  where alls.country is not null
),

--определение количества кораблей у каждой страны
cnt_ships as (
  select cs.country, count (1) as cnt
  from country_ship cs 
  group by cs.country
),

--определение количества поддтопленных кораблей
sunk_ships as (
  select cs.country, count(1) as cnt
  from country_ship cs
  left join outcomes o on o.ship = cs.name
  where o.result = 'sunk'
  group by cs.country
)

--определение стран с кол-вом кораблей = кол-ву подтопленных кораблей
select sh.country
from sunk_ships sh
join cnt_ships cnts on cnts.country = sh.country and cnts.cnt = sh.cnt
'''
select(sql)

   country
0  Germany

### Задача 48

Найдите классы кораблей, в которых хотя бы один корабль был потоплен в сражении.

In [29]:
sql = '''
-- объединение кораблей и классов
with all_ships as (
  select s.name, c.class
  from ships s, classes c
  where s.class = c.class

  union

  select o.ship as name, c.class
  from outcomes o
  left join classes c on o.ship = c.class
)

select alls.class 
from all_ships alls, outcomes o 
where o.ship = alls.name and o.result = 'sunk'
group by alls.class
having count (alls.class) >=1
'''
select(sql)

      class
0  Bismarck
1     Kongo

### Задача 49

Найдите названия кораблей с орудиями калибра 16 дюймов (учесть корабли из таблицы Outcomes).

In [30]:
sql = '''
-- объединение кораблей и калибров, как в прошлой задаче

with all_ships as (
  select s.name, c.bore
  from ships s, classes c
  where s.class = c.class

  union

  select o.ship as name, c.bore
  from outcomes o
  left join classes c on o.ship = c.class
)

select alls.name
from all_ships alls 
where alls.bore = 16
'''
select(sql)

             name
0       Wisconsin
1    South Dakota
2      New Jersey
3        Missouri
4      Washington
5            Iowa
6  North Carolina

### Задача 50

Найдите сражения, в которых участвовали корабли класса Kongo из таблицы Ships.

In [31]:
sql = '''
select o.battle
from ships s 
join outcomes o on o.ship = s.name
where s.class = 'Kongo'
'''
select(sql)

        battle
0  Guadalcanal

## Задачи 51 - 60

### Задача 51

Найдите названия кораблей, имеющих наибольшее число орудий среди всех имеющихся кораблей такого же водоизмещения (учесть корабли из таблицы Outcomes).

In [32]:
sql = '''
with all_ships as (
  select s.name, c.numguns, c.displacement
  from ships s, classes c
  where s.class = c.class

  union

  select o.ship as name, c.numguns, c.displacement
  from outcomes o
  left join classes c on o.ship = c.class
)

select alls.name
from all_ships alls
where alls.numguns = ALL (
  select MAX (all_ships.numguns) 
  from all_ships
  where all_ships.displacement = alls.displacement)
'''
select(sql)

               name
0              Iowa
1          Missouri
2   Royal Sovereign
3        Washington
4         Wisconsin
5         Ramillies
6           Musashi
7        California
8            Yamato
9         Royal Oak
10         Bismarck
11        Tennessee
12          Revenge
13   North Carolina
14     South Dakota
15       New Jersey

### Задача 52

Определить названия всех кораблей из таблицы Ships, которые могут быть линейным японским кораблем,
имеющим число главных орудий не менее девяти, калибр орудий менее 19 дюймов и водоизмещение не более 65 тыс.тонн

In [33]:
sql = '''
select distinct s.name
from ships s
left join classes c on s.class = c.class
where c.type = 'bb' and c.country = 'Japan' and c.numguns >= 9 and c.bore < 19 and c.displacement <= 65000
'''
select(sql)

      name
0  Musashi
1   Yamato

В Справке сказано, что надо использовать null, поэтому добавим условие возможности пропусков. Видимо, в этом был смысл условия "...которые **могут** быть..."

In [34]:
sql = '''
select distinct s.name
from ships s
left join classes c on s.class = c.class
where (c.type = 'bb' or c.type is null)
and (c.country = 'Japan' or c.country is null)
and (c.numguns >= 9 or c.numguns is null) 
and (c.bore < 19 or c.bore is null)
and (c.displacement <= 65000 or c.displacement is null)

'''
select(sql)

      name
0  Musashi
1   Yamato

### Задача 53

Определите среднее число орудий для классов линейных кораблей.
Получить результат с точностью до 2-х десятичных знаков.

In [35]:
sql = '''
select cast (avg(c.numguns) as numeric (6,2)) as avg_guns
from classes c
where c.type = 'bb'
'''
select(sql)

   avg_guns
0      9.67

### Задача 54

С точностью до 2-х десятичных знаков определите среднее число орудий всех линейных кораблей (учесть корабли из таблицы Outcomes).

In [36]:
sql = '''
with all_ships as (
  select s.name, c.type, c.numguns
  from ships s, classes c
  where s.class = c.class

  union

  select o.ship as name, c.type, c.numguns
  from outcomes o
  left join classes c on o.ship = c.class
)

select cast (avg(alls.numguns) as numeric (6,2)) as avg_guns
from all_ships alls
where alls.type = 'bb'
'''
select(sql)

   avg_guns
0      9.63

### Задача 55

Для каждого класса определите год, когда был спущен на воду первый корабль этого класса. Если год спуска на воду головного корабля неизвестен, определите минимальный год спуска на воду кораблей этого класса. Вывести: класс, год.

In [37]:
sql = '''
with year_class as  (
  select s.class, s.launched as year
  from ships s 
  union all
  select c.class, null as year
  from classes c
)
select yc.class, min (yc.year) as year
from year_class yc
group by yc.class
'''
select(sql)

            class    year
0       Tennessee  1920.0
1         Revenge  1916.0
2          Yamato  1941.0
3           Kongo  1913.0
4          Renown  1916.0
5  North Carolina  1941.0
6            Iowa  1943.0
7        Bismarck     NaN